@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	 font: Trebuchet MS, sans-serif;
}
.homePage {
	background: #0761E0;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #1F00E0;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #00B7E0;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: left;
}
.content {
	background: #4B66E0;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #7E8BE0;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: left;
}
